NEXT_PUBLIC_SUPABASE_URL=https://ssujawfxmpdkkzpqysdv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNzdWphd2Z4bXBka2t6cHF5c2R2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg4MDc0OTAsImV4cCI6MjEwNDM4MzQ5MH0.cnH4AD4dB3ibzFghzbfs3O3ijcAuXtGT977mfx4gbBI
